@import "../../../../styles/config";
@import "../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.list {
  position: relative;
  height: 100%;

  &_inner {
    padding-top: 54px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &_follows {
      padding-top: 0;
    }

    &_none {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &_message {
        font-size: auto-clamp(13px, 14px);
        color: $sub_clr;
      }
    }

    &_load {
      display: flex;
      justify-content: center;
      padding: 32px 0;
    }
  }
}
