// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.delete {
  background: $base_clr;
  padding: 32px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  color: $sub_clr;
  white-space: nowrap;

  @media (max-width: responsive-width(sp)) {
    width: calc(100vw - 24px);
    padding: 24px;
    gap: 24px;
  }

  &_ttl {
    color: $sub_clr;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    @media (max-width: responsive-width(sp)) {
      font-size: 16px;
    }
  }

  &_desc {
    text-align: center;

    @media (max-width: responsive-width(sp)) {
      font-size: 12px;
    }
  }

  &_menu {
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    @media (max-width: responsive-width(sp)) {
      font-size: 12px;
      justify-content: space-between;
    }

    &_submit {
      background: $remove_clr;
      color: $base_clr;
      padding: 12px 16px;
      border-radius: 12px;
    }

    &_cancel {
      padding: 12px 16px;
      transition: all 0.4s;

      @media (max-width: responsive-width(sp)) {
        padding: 12px 16px 12px 0;
      }

      &:hover {
        background: $bg_clr;
        border-radius: 12px;
      }
    }
  }
}
