@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $sub_clr;
}
