@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.dashboard {
  padding: 16px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 296px);
  gap: 16px;

  overflow: scroll;

  @media (max-width: responsive-width(miniPc)) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 296px);
  }

  @media (max-width: responsive-width(tb)) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 296px);
  }

  &_fetch {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
