@import "../../../../../../styles/config";
@import "../../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.profile {
  background: $acnt_bg_clr;
  border: 1px solid $acnt_clr;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding: 4px 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  &_container {
    display: flex;
    gap: 24px;
  }

  &_error {
    background: $remove_bg_clr;
    border: 1px solid $remove_clr;
    height: 64px;

    &_desc {
      color: $remove_clr;
    }
  }

  &_wrap {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &_icon {
    color: $acnt_clr;

    &_error {
      color: $remove_clr;
    }
  }
}
