@import "../../../../styles/config";
@import "../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.mail {
  position: relative;
  padding: 16px 32px 32px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  &_container {
    border: 1px solid $bdr_clr;
    padding: 24px 32px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    &_row {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &_ttl {
    color: $icn_clr;
  }

  &_toggle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    background: $bg_clr;
    width: 480px;
    height: 32px;
    border-radius: 20px;
    font-size: auto-clamp(11px, 12px);
    padding: 3px;
    border: 1px solid $bdr_clr;

    input {
      display: none;
    }

    &_btn {
      cursor: pointer;
      color: $sub_clr;
      border-radius: 20px;

      display: flex;
      justify-content: center;
      line-height: 24px;

      transition: all 0.4s;
    }

    input:checked + &_btn {
      background: $acnt_clr;
      color: $base_clr;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &_row {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    &_tag {
      white-space: nowrap;
      color: $sub_clr;
      font-size: auto-clamp(13px, 14px);
    }

    &_input {
      background: $bg_clr;
      border: 1px solid $bdr_clr;
      width: 100%;
      height: 48px;
      border-radius: 8px;
      padding: 8px 16px;

      &_error {
        border: 1px solid $remove_clr;
      }
    }

    &_textarea {
      background: $bg_clr;
      border: 1px solid $bdr_clr;
      width: 100%;
      height: 720px;
      border-radius: 8px;
      padding: 16px;

      &_error {
        border: 1px solid $remove_clr;
      }
    }

    &_error {
      white-space: nowrap;
      color: $sub_clr;
      font-size: auto-clamp(11px, 12px);
    }
  }
}
