@import "styles/config";
@import "styles/function";
@import "styles/animation";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.header {
  border-bottom: 1px solid $bdr_clr;
  background: $base_clr;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  padding: 0 16px;

  &_wrap {
    display: flex;
    gap: 16px;
  }
}

.sort {
  display: grid;
  grid-template-columns: 80px auto 80px 80px;
  gap: 4px;
  background: $bg_clr;
  width: 376px;
  height: 32px;
  border-radius: 16px;
  padding: 3px 3px 2px 3px;
  border: 1px solid $bdr_clr;

  font-size: auto-clamp(11px, 12px);

  &_index {
    grid-template-columns: repeat(3, 1fr);
    width: 192px;
  }

  &_btn {
    cursor: pointer;
    color: $sub_clr;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 1px;

    transition: all 0.4s;

    &_current {
      color: $base_clr;
      background: $acnt_clr;
      pointer-events: none;
    }

    &_active {
      color: $base_clr;
      background: $acnt_clr;
    }

    &_trialing {
      color: $base_clr;
      background: $add_clr;
    }

    &_canceled {
      color: $base_clr;
      background: $promo_clr;
    }

    &_person {
      color: $base_clr;
      background: $icn_clr;
    }

    &_disabled {
      pointer-events: none;
    }
  }
}

.span {
  position: relative;

  &_select {
    background: $base_clr;
    border: 1px solid $bdr_clr;
    border-radius: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 72px;
    height: 32px;
    padding: 0 12px;

    color: $icn_clr;
    font-size: auto-clamp(11px, 12px);
  }

  &_icon {
    position: absolute;
    right: 12px;
    top: 7px;

    color: $icn_clr;
    font-size: 16px !important;

    pointer-events: none;
  }
}
