@import 'styles/config';
@import 'styles/function';

// ページのレスポンシブ設定
$width: responsive-width(pc);

.tag {
  padding-bottom: 16px;

  display: grid;
  grid-template-columns: 1fr 160px 160px;
  gap: 8px;
  color: $icn_clr;
  font-weight: bold;

  li {
    margin-left: 4px;
  }
}
