@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;

  &_cancel {
    color: $acnt_clr;

    &:hover {
      opacity: 0.8;
    }
  }

  &_wrap {
    display: flex;
    gap: 16px;
  }

  &_status {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    background: $bg_clr;
    width: 160px;
    height: 32px;
    border-radius: 20px;
    font-size: auto-clamp(11px, 12px);
    padding: 3px;
    border: 1px solid $bdr_clr;

    &_hold {
      width: 240px;
      grid-template-columns: repeat(3, 1fr);
    }

    input {
      display: none;
    }

    &_btn {
      cursor: pointer;
      color: $sub_clr;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.4s;

      &_none {
        pointer-events: none;
      }
    }

    input:checked + &_btn {
      color: $base_clr;

      &_enable {
        background: $acnt_clr;
      }

      &_hold {
        background: $acnt_ext_clr;
      }

      &_disable {
        background: $remove_clr;
      }
    }

    input:checked + &_btn_none {
      color: $base_clr;
      background: $sub_clr;
    }
  }

  &_submit {
    background: $acnt_clr;
    width: 112px;
    height: 32px;
    color: $base_clr;
    border-radius: 20px;
    text-align: center;

    transition: all 0.4s;

    &:hover {
      opacity: 0.8;
    }

    &_none {
      background: $sub_clr;
      pointer-events: none;
    }
  }
}
