@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.post {
  width: 100%;
  height: 100%;
  background: $base_clr;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 1fr;
}
