// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.load {
  display: block;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;

  background: $bg_clr;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.7s;

  &_fetch {
    top: 48px;
    height: calc(100vh - 48px);
    background: none;
    z-index: 99;
    transition: all 0.4s;
  }

  &_opacity {
    opacity: 0;
  }

  &_none {
    display: none;
  }
}
