@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.header {
  border-bottom: 1px solid $bdr_clr;
  background: $base_clr;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  padding: 0 16px 0 8px;

  &_status {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    background: $base_clr;
    width: 240px;
    height: 32px;
    border-radius: 16px;
    font-size: auto-clamp(11px, 12px);
    padding: 3px;
    border: 1px solid $bdr_clr;

    input {
      display: none;
    }

    &_user {
      grid-template-columns: repeat(4, 1fr);
      width: 343px;
    }

    &_btn {
      color: $sub_clr;
      border-radius: 16px;
      line-height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.4s;

      &_all {
        color: $base_clr;
        background: $acnt_clr;
      }

      &_application {
        color: $base_clr;
        background: $acnt_sub_clr;
      }

      &_hold {
        color: $base_clr;
        background: $acnt_ext_clr;
      }

      &_disable {
        color: $base_clr;
        background: $remove_clr;
      }

      &_public {
        color: $base_clr;
        background: $acnt_clr;
      }

      &_private {
        color: $base_clr;
        background: $sub_clr;
      }

      &_notice {
        position: relative;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: -1px;
          right: -1px;

          width: 8px;
          height: 8px;
          border-radius: 4px;
          background: $acnt_clr;
        }
      }
    }
  }

  &_search {
    background: $base_clr;
    width: 100%;

    display: grid;
    grid-template-columns: 20px 1fr 20px 20px;
    gap: 16px;
    align-items: center;

    font-size: 16px;

    &_btn {
      width: 22px;
      height: 22px;
    }

    &_icon {
      font-size: 22px !important;
      color: $sub_clr;

      &_search {
        margin-top: 5px;
      }
    }
  }
}
