@import "../../../../styles/config";
@import "../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.btn {
  position: absolute;
  top: -40px;
  z-index: 9999;
  right: 32px;

  display: flex;
  gap: 16px;

  &_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    background: $base_clr;
    width: 240px;
    height: 32px;
    border-radius: 16px;
    font-size: auto-clamp(11px, 12px);
    padding: 3px;
    border: 1px solid $bdr_clr;
  }

  &_index {
    color: $sub_clr;
    border-radius: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.4s;

    &_sh {
      color: $base_clr;
      background: $acnt_clr;
    }

    &_fd {
      color: $base_clr;
      background: $add_clr;
    }

    &_disable {
      pointer-events: none;
    }
  }

  &_submit {
    background: $acnt_clr;
    width: 112px;
    height: 32px;
    color: $base_clr;
    border-radius: 20px;
    text-align: center;

    transition: all 0.4s;

    &:hover {
      opacity: 0.8;
    }
  }
}
