@import "styles/config";
@import "styles/function";
@import "styles/animation";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.data {
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  &_none {
    align-items: center;
    justify-content: center;
    height: 100%;

    animation-name: fadeIn;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }

  &_col {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-bottom: 16px;
    border-bottom: 1px solid $bdr_clr;
  }

  &_item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;

    &_col {
      flex-direction: column;
      align-items: flex-start;
    }

    &_tag {
      display: inline-block;
      white-space: nowrap;
      padding: 0 8px;
      border-radius: 8px;
      line-height: 24px;
      font-size: 12px;
      color: $base_clr;
      background: $icn_clr;

      &_extra {
        background: $remove_clr;
      }
    }

    &_text {
      line-height: 24px;

      &_link {
        color: $link_clr;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &_btn {
      display: flex;
      gap: 8px;

      transition: all 0.4s;

      &:hover {
        color: $link_clr;
      }

      &_copy {
        &:after {
          content: "コピーしました";
          display: block;
          background: $link_clr;
          color: $base_clr;
          border-radius: 8px;
          padding: 0 8px;
          font-size: 12px;
        }
      }
    }
  }

  &_icon {
    font-size: 20px;

    &_mail {
      color: $acnt_clr;
    }

    &_google {
      color: $google_clr;
    }

    &_twitter {
      color: $twitter_clr;
    }

    &_github {
      color: $github_clr;
    }
  }
}
