@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.icon {
  padding: 16px 32px 32px;
  max-height: calc(100vh - 48px);
  overflow-y: scroll;

  &_inner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;

    @media (max-width: responsive-width(miniPc)) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: responsive-width(tb)) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &_item {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &_input {
    display: none;

    &_label {
      display: block;
      position: relative;
    }

    &:checked + &_label:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 6px solid $acnt_clr;
      border-radius: 16px;

      @media (max-width: responsive-width(miniPc)) {
        border: 4px solid $acnt_clr;
      }
    }
  }

  &_img {
    width: 100%;
    border-radius: 16px;
  }
}
