@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;

  &_input {
    background: $bg_clr;
    border: 1px solid $bdr_clr;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    padding: 8px 16px;

    &_center {
      text-align: center;
    }

    &_error {
      border: 1px solid $remove_clr;
    }
  }

  &_select {
    position: relative;

    select {
      cursor: pointer;
    }

    &:after {
      pointer-events: none;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid $acnt_clr;
      content: "";
      position: absolute;
      right: 12px;
      top: 20px;
      width: 0;
    }
  }

  &_textarea {
    background: $bg_clr;
    border: 1px solid $bdr_clr;
    width: 100%;
    height: 240px;
    border-radius: 8px;
    padding: 16px;

    &_error {
      border: 1px solid $remove_clr;
    }
  }

  &_mark {
    text-align: center;
    line-height: 48px;
  }

  &_error {
    white-space: nowrap;
    color: $sub_clr;
    font-size: auto-clamp(11px, 12px);
  }

  &_btn {
    position: absolute;
    top: -12px;
    right: -12px;
    display: flex;
    gap: 8px;

    &_col {
      flex-direction: column;
      gap: 24px;
    }

    &_add {
      background: $add_clr;
      width: 24px;
      height: 24px;
      border-radius: 12px;

      &:hover {
        opacity: 0.8;
      }
    }

    &_remove {
      background: $icn_clr;
      width: 24px;
      height: 24px;
      border-radius: 12px;

      &:hover {
        opacity: 0.8;
      }
    }

    &_icon {
      color: $base_clr;
    }
  }
}
