@import "../../../../../../styles/config";
@import "../../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.form {
  max-height: calc(100vh - 48px);
  overflow-y: scroll;

  &_container {
    position: relative;
    padding: 64px 32px 32px;

    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &_wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &_col {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &_row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  &_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    &_triangle {
      grid-template-columns: 1fr 1fr 2.1fr;
    }

    &_costs {
      grid-template-columns: 5fr 1fr 5fr;
    }

    &_period {
      grid-template-columns: 1.5fr 1fr;
    }
  }

  &_item {
    position: relative;
  }

  &_select {
    position: relative;

    select {
      cursor: pointer;
    }

    &:after {
      pointer-events: none;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid $acnt_clr;
      content: "";
      position: absolute;
      right: 12px;
      top: 20px;
      width: 0;

      @media (max-width: responsive-width(sp)) {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid $acnt_clr;
        top: 14px;
      }
    }
  }

  &_tag {
    display: block;

    color: $icn_clr;
    white-space: nowrap;

    &_desc {
      white-space: pre;
      color: $sub_clr;
      font-size: auto-clamp(11px, 12px);
    }

    input {
      display: none;
    }

    &_display {
      color: $link_clr;
      font-size: 12px;

      @media (max-width: responsive-width(sp)) {
        font-size: 10px;
      }
    }
  }

  &_error {
    display: block;
    white-space: pre;
    color: $sub_clr;
    font-size: auto-clamp(11px, 12px);
    margin-top: 8px;
  }

  &_input {
    background: $base_clr;
    border: 1px solid $bdr_clr;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    padding: 8px 16px;

    &_min {
      width: 164px;
    }

    &_error {
      border: 1px solid $remove_clr;
    }

    &_disable {
      pointer-events: none;
      background: $bdr_clr;
    }
  }

  &_textarea {
    border: 1px solid $bdr_clr;
    width: 100%;
    height: 160px;
    border-radius: 8px;
    padding: 16px;

    &_error {
      border: 1px solid $remove_clr;
    }
  }

  &_state {
    position: absolute;
    top: 16px;
    right: 32px;

    background: $acnt_ext_clr;
    width: 112px;
    height: 32px;

    border-radius: 16px;
    color: $base_clr;
    text-align: center;

    &_disable {
      background: $sub_clr;
    }

    &_hurry {
      background: $remove_clr;
    }
  }

  &_strike {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 8px 0;

    span {
      display: block;
      position: relative;
      z-index: 1;
      background: $base_clr;
      padding: 0 24px;
      color: $sub_clr;
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: $bdr_clr;
      top: 50%;
      left: 0;
      position: absolute;
    }
  }

  &_mores {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: $base_clr;
    border-radius: 8px;
    margin-top: 8px;

    &_more {
      display: none;

      &_label {
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 32px;
        margin-bottom: 8px;
        cursor: pointer;

        &:before {
          content: "";
          display: block;
          width: 19px;
          height: 19px;
          border: 1px solid $sign_clr;
          border-radius: 100%;
          position: absolute;
          left: 0;
          top: -1px;
          opacity: 0.6;
          transition: all 0.12s, border-color 0.08s;
        }

        &_disabled {
          color: $sub_clr;
          pointer-events: none;

          &:before {
            border-color: $sub_clr;
            pointer-events: none;
          }
        }
      }

      &:checked + &_label {
        color: $main_clr;
        pointer-events: auto;

        &:before {
          border-color: $acnt_clr;
          background-color: $acnt_clr;
          box-shadow: inset 0 0 0 3px $base_clr;
          pointer-events: auto;
        }
      }
    }
  }

  &_btn {
    position: absolute;
    top: -12px;
    right: -12px;
    display: flex;
    gap: 8px;

    @media (max-width: responsive-width(sp)) {
      top: -8px;
      right: -8px;
    }

    &_col {
      flex-direction: column;
      gap: 24px;

      @media (max-width: responsive-width(sp)) {
        gap: 16px;
      }
    }

    &_add {
      background: $acnt_clr;
      width: 24px;
      height: 24px;
      border-radius: 12px;

      @media (max-width: responsive-width(sp)) {
        width: 16px;
        height: 16px;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    &_remove {
      background: $icn_clr;
      width: 24px;
      height: 24px;
      border-radius: 12px;

      @media (max-width: responsive-width(sp)) {
        width: 16px;
        height: 16px;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    &_icon {
      color: $base_clr;

      @media (max-width: responsive-width(sp)) {
        font-size: 16px !important;
      }
    }
  }

  &_social {
    position: relative;

    &_url {
      color: $link_clr;
      position: absolute;
      top: 16px;
      left: 64px;
    }

    &_input {
      background: $base_clr;
      border: 1px solid $bdr_clr;
      width: 100%;
      height: 48px;
      border-radius: 8px;
      padding: 8px 16px 8px 215px;

      &_other {
        padding-left: 240px;
      }
    }

    &_icon {
      position: absolute;
      top: 8px;
      left: 16px;

      font-size: 32px;

      &_line {
        color: $acnt_clr;
      }

      &_twitter {
        color: $twitter_clr;
      }

      &_instagram {
        color: $instagram_clr;
      }

      &_linkedIn {
        color: $linkedIn_clr;
      }
    }
  }
}
