@import "../../styles/config";
@import "../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.side {
  display: flex;
  flex-direction: column;

  border-left: 1px solid $bdr_clr;

  &_type {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 1fr;

    border-bottom: 1px solid $bdr_clr;

    &_inner {
      overflow-y: scroll;
      height: 0;
      transition: height 0.4s;

      &_current {
        height: calc(100vh - (49.33px * 6));
      }
    }
  }
}
