@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.admin {
  width: 100vw;
  height: 100vh;

  &_inner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 1fr;
    margin-left: auto-clamp(184px, 240px);

    &_list {
      display: flex;
      flex-direction: column;

      &_none {
        height: calc(100vh - 48px);
        display: flex;
        justify-content: center;
        align-items: center;

        &_message {
          font-size: auto-clamp(13px, 14px);
          color: $sub_clr;
        }
      }

      &_load {
        display: flex;
        justify-content: center;
        padding: 32px 0;

        &_none {
          display: none;
        }
      }
    }
  }
}
