@import "../../styles/config";
@import "../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.user {
  width: 100%;
  height: 100%;
  background: $base_clr;

  transition: all 0.7s;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 1fr;
}
